<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="#">LOGO</a>
        </div>
        <div class="nav-menu">
            <a href="#about">關於</a>
            <a href="#works">作品</a>
            <a href="#contact">聯絡我</a>
        </div>
    </nav>
    <header>
        <div class="header-content">
            <h1>HELLO WORLD!!</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia minima iste recusandae?
            </p>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <div class="about-title">
                <h2>ABOUT</h2>
            </div>
            <div class="about-item">
                <h3>about</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos placeat nulla quis laudantium obcaecati? Quibusdam cumque provident eum quas deserunt facilis doloremque harum, sed excepturi dolores voluptatem officiis aliquid sunt!
                </p>
            </div>
            <div class="about-item">
                <h3>about</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos placeat nulla quis laudantium obcaecati? Quibusdam cumque provident eum quas deserunt facilis doloremque harum, sed excepturi dolores voluptatem officiis aliquid sunt!
                </p>
            </div>
            <div class="about-item">
                <h3>about</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos placeat nulla quis laudantium obcaecati? Quibusdam cumque provident eum quas deserunt facilis doloremque harum, sed excepturi dolores voluptatem officiis aliquid sunt!
                </p>
            </div>
        </div>
    </section>
    <section id="works">
        <div class="container">
            <div class="works-title">
                <h2>WORKS</h2>
            </div>
            <div class="works-item">
                <img src="images/03.jpg" alt="">
            </div>
            <div class="works-item">
                <img src="images/03.jpg" alt="">
            </div>
            <div class="works-item">
                <img src="images/03.jpg" alt="">
            </div>
            <div class="works-item">
                <img src="images/03.jpg" alt="">
            </div>
            <div class="works-item">
                <img src="images/03.jpg" alt="">
            </div>
            <div class="works-item">
                <img src="images/03.jpg" alt="">
            </div>
            <div class="works-item">
                <img src="images/03.jpg" alt="">
            </div>
            <div class="works-item">
                <img src="images/03.jpg" alt="">
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="contact-title">
                <h2>CONTACT</h2>
            </div>
            <div class="contact-item">
                <form action="">
                    <div class="form-group">
                        <label for="">姓名</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">電話</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">內容</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="送出" class="btn">
                </form>
            </div>
        </div>
    </section>
    <footer>
        2022&copy;All Rights Reserved
    </footer>
</body>
</html>