* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI','微軟正黑體';
}
nav {
    width: 100%;
    height: 60px;
    background-color: #222;
    line-height: 60px;
}
nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
nav a:hover {
    color: #fa0;
}
.nav-logo {
    float: left;
}
.nav-menu {
    float: right;
}

header {
    width: 100%;
    height: 800px;
    background-image: url('images/04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: table;
}
header h1 {
    font-size: 5rem;
}
header p {
    font-size: 1.4rem;
}
.header-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
