* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI','微軟正黑體';
}
nav {
    width: 100%;
    height: 60px;
    background-color: #222;
    line-height: 60px;
    position: fixed;
    z-index: 9999;
}
nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
nav a:hover {
    color: #fa0;
}
.nav-logo {
    float: left;
}
.nav-menu {
    float: right;
}

header {
    width: 100%;
    height: 800px;
    background-image: url('images/04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: table; */

    position: relative;
}
header h1 {
    font-size: 5rem;
}
header p {
    font-size: 1.4rem;
}
/* .header-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
} */

.header-content {
    padding: 30px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    background-color: rgb(255 255 255 / .2);
    backdrop-filter: blur(6px);
    text-align: center;
}
section {
    padding-top: 150px;
    padding-bottom: 150px;
}
#about {
    background-color: #efefef;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flow-root
}
.about-title,.works-title,.contact-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
}
.about-item {
    width: 400px;
    padding:15px;
    float: left;
}
.about-item h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.about-item p {
    line-height: 1.5rem;
}

.works-item {
    width: 300px;
    float: left;
    padding: 5px;
}
.works-item img {
    width: 100%;
    display: block;
}

#contact {
    background-color: #efefef;
}
.contact-item {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    margin-bottom: 5px;
    display: inline-block;
}
.form-control {
    width: 100%;
    padding: 8px;
}
.btn {
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    padding-right:20px;
    background-color: #35b8ff;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #71cafa;
}

footer {
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 20px;
}